unalias rm

alias rm="nocorrect rm"

# Shortcuts
alias c="cd ~/Code"
alias g="git"
alias h="history"
alias o="open"
alias oo="open ."
alias stt="st ."
alias js="autojump --stat"
alias lsa="ls -al"

alias ga="git add"
alias gst="git status -sb"

alias zshconfig="st -w ~/.zshrc; source ~/.zshrc"
alias ohmyzsh="st -w ~/.oh-my-zsh; source ~/.zshrc"

# Enable aliases to be sudo’ed
alias sudo="nocorrect sudo"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
type -f hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -f md5sum > /dev/null || alias md5sum="md5"

# File size
alias fs="stat -c \"%s bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

# Silly git facts
alias fact="elinks -dump randomfunfacts.com | sed -n '/^| /p' | tr -d \|"
alias gc='git commit -v && fact'
