# Make vim the default editor
export EDITOR="st -w"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

if [[ -x `which brew` ]]; then
  if [[ -x `which node` ]]; then
    export NODE_PATH=usr/local/lib/node_modules
  fi

  if [[ -d $(brew --prefix coreutils) ]]; then
    export PATH=$(brew --prefix coreutils)/bin:$PATH
  fi
fi